<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.insurance.Xml.ReadDataFromXml"/>
      
      <parameter name="URL" value="https://rmgtestingserver"></parameter>  
      <parameter name="UN" value="555"></parameter> 
      <parameter name="PWD" value="666"></parameter> 
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
